# firmware
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/managed_components/
firmware/dependencies.lock

# cert
*.pem
*.key
*.mobileprovision
*.cer

# xcode app
application/.build/
application/DerivedData/
application/Packages/
application/DNFA.xcodeproj/project.xcworkspace/xcuserdata/
application/DNFA.xcodeproj/xcuserdata/
application/DNFA.xcworkspace/xcuserdata/
application/DNFA.xcworkspace/xcshareddata/workspace.userstates
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# system
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# ide
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*~